* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}
:root {
    --Moderate-cyan: hsl(176, 50%, 47%);
    --Dark-cyan: hsl(176, 72%, 28%);
    --Black: hsl(0, 0%, 0%);
    --Dark-gray: hsl(0, 0%, 48%);
}
body {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    text-align: center;
    margin: auto;
    gap: 3em;
    max-width: 1440px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 500;
    background-color: hsl(0, 0%, 48%,0.05);
    line-height: 1.8;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url('./images/image-hero-desktop.jpg') no-repeat center;
    height: 25em;
    padding: 1em 2em;
}
#menu, #menu-close {
    display: none;
}
nav {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 width: 20em;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-column: 3/3;
}
nav a{
    color: white;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    max-width: 42rem;
    margin:-4em auto auto auto;
    position: relative;
}
.mastercraft{
    background-color: white;
    border-radius: 1em;
}
.logo-mastercraft {
    margin-top: -2em;
}
.mastercraft h1{
    font-weight: 800;
}
.mastercraft p {
    color: var(--Dark-gray);
    margin: 1em auto 1.4em auto;
    font-size: 0.95rem;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin: auto 3em 1.2em 3em;
}

.back-this-project-button {
    background-color: var(--Dark-cyan);
    color: white;
    font-size: 1.2rem;
    border-radius: 2em;
    height: 2.8em;
    padding: 0em 1em;
    cursor: pointer;
}
.bookmark-button, .bookmarked-button {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    border-radius: 1.5em;
    height: 3em;
    width: 11rem;
    padding: auto 1em;
    background-color: hsl(0, 0%, 48%,0.05);
    cursor: pointer;
}
.book, .bookmarked {
    margin-top: 0.5em;
    padding-right: 1em;
    color: var(--Dark-gray);
}
.bookmarked {
    color: var(--Dark-cyan);
    padding-left: 0.4em;
}
.bookmarked-button {
    background-color:   hsl(176, 50%, 47%,0.1);
    display: none;
}
.numbers {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: 1em;    
}
.number {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding: 1.3em 0em;
    margin: auto;
    text-align: left;
}

.num {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--Black);
    font-weight: 700;
    font-size: 2rem;
    padding-right: 1.2em;
    border-right: 0.08em solid hsl(0, 0%, 48%, 0.5);
}
.num:last-child {
    border: none;
}
.num sub{
    color:hsl(0, 0%, 48%,0.5) ;
    font-size: 0.8rem;
}

.progress-bar {
    width: 82%;
    margin: 1em auto 2em auto;
    height: 0.75rem;
    border-radius: 1em; 
    background-color: hsl(0, 0%, 48%, 0.1);
    position: relative;
}
.progress {
    background-color: var(--Dark-cyan);
    position: absolute;
    width: 77%;
    margin: auto;
    left: 0;
    right: 9em;
    z-index: 10;
    height: 0.75rem;
    border-radius: 1em;
}

.about {
    text-align: left;
    background-color: white;
    padding: 1.5em;
    border-radius: 1em;
}
.about h2 {
    font-size: 1.5rem;
    font-weight: 700;
}
.about p {
    color: var(--Dark-gray);
}
.about-paragraph {
    margin: 1em auto;
}
.about article {
    border: 0.1em solid var(--Dark-gray);
    margin: 1em auto;
    padding: 1.3em;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    
}
.about article p {
    grid-column: 1/3;
}
.about-pledge {
   grid-column: 2/3;
   color: var(--Moderate-cyan);
   font-size: 1rem;
}
.move {
    grid-row: 3;
    font-weight: 400;
    font-size: 1rem;
}
.move span {
    font-weight: 700;
    font-size: 1.8rem;
    color:var(--Black) ;
}
.about-select-reward {
    grid-row: 3;
    grid-column: 2/3;
    background-color: var(--Moderate-cyan);
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    border-radius: 2em;
}
.about-select-reward:hover {
    background-color: var(--Dark-cyan);
}
.blur {
    opacity: 0.4;
}
.back-this-project {
    max-width: 40rem;
    margin: 0.2em auto;
    background-color: white;
    padding: 1.3em;
    border-radius: 1em;
    text-align: left;
    position: absolute;
    top: 29em;
    left: 0em;
    right: 0em;
    z-index: 50;
    display: none;
}
.back-display {
    display: grid;
}
.back-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13.5em;
}
.icon-close {
    justify-content: right;
    margin-left: 9em;
    opacity: 0.6;
    cursor: pointer;
}
.back-this-project h2 {
    font-weight: 700;
    font-size: 1.3rem;
    padding-left: 1.08em;
}
.back-this-project p {
    padding-left: 1.3em;
}
.back-paragraph {
    color: var(--Dark-gray);
}
.back-pledge {
    color: var(--Moderate-cyan);
    padding-left: 0.5em;
}
.back-box-header{
    grid-column: 1/3;
}
.back-left {
    grid-row: 1;
    grid-column:3/4 ; 
    margin-right: 1.5em;
    margin-top: -0.4em;
    font-weight: 700;
    font-size: 1.7rem;
}
.back-left span {
    color: var(--Dark-gray);
    font-weight: 400;
    font-size: 0.9rem;
}
.real-p {
    grid-column: 1/4;
    grid-row: 2;
    margin: 0em 1.2em;
}
.back-buttons {
    grid-column: 3/4;
    margin-right: 1.5em;
}
.back-box {
    border: 0.1em solid var(--Dark-gray);
    margin: 1em 1.3em;
    padding: 1.3em 0em;
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.6em;
}
.border {
    border: 0.3em solid var(--Dark-cyan);
}
.back-box label {
    padding-left: 0.3em;
}
.checkbox {
    width: 1.3em;
    height: 1.3em;
    border-radius: 100%;
    border: 0.1em solid var(--Moderate-cyan);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  position: relative;
}
.checkbox[aria-label]::after {
    content: attr(aria-label);
    display: inline-block;
}
.checkbox input {
    display: none;
    padding-top: 4em;
}
.check-circle {
  width: 0.6em;
  height: 0.6em;
  position: absolute;
  top: 0em;
  bottom: 0;
  left: 0em;
  right: 0;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 100%;
  display: none;  
  background-color: var(--Dark-cyan);
  
}
.checkbox input:checked ~ .check-circle {
    display: inline-block;
  }

.borderLine {
    border-bottom: 0.1em solid var(--Dark-gray);
}
.break {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.8em;
}
.well {
    grid-column: 1/4;
    grid-row: 3;
}
#Bambo-pledge {
    display: none;
}
#black-edition-pledge {
    display: none;
}
#Mahogany {
    display: none;
    
}
.back-box button {
    cursor: pointer;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.05em;
    border-radius: 1.1em; 
}
.back-button-one {
    padding: 0.5em 0.8em;
    border: 0.1em solid var(--Moderate-cyan);
    background-color: inherit;
    
}
.back-button-two {
    padding: 0.6em 0.9em;
    background-color: var(--Moderate-cyan);
    color: white;
}
.thank-you {
    max-width: 30rem;
    margin: auto  ;
   align-content: center;
    background-color: white;
    z-index: 50;
    padding: 2em 1.5em;
    border-radius: 1em;
    position: absolute; 
    top: 29em;
    left: 0em;
    right: 0em;
    display: none;
}

.thank-you img {
    height: 4em;
}
.thank-you p {
    color: var(--Dark-gray);
    margin-bottom: 1em;
}
#got-it {
    padding: 0.8em 1em ;
    border-radius: 1.5em;
    background-color: var(--Moderate-cyan);
    color: white;
    font-weight: 700;
    cursor: pointer;
}
#got-it:hover {
    background-color: var(--Dark-cyan);
}
.overlay {
  position: absolute; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); 
}
@media screen and (max-width:768px) {
    body {
      max-width: 375px;
      margin: auto;  
    }
    header {
        justify-content: space-between;
        gap: 10em;
        background: url('./images/image-hero-mobile.jpg') no-repeat center;

    }
    #menu {
        display: block;
        margin-top: 0.4em;
        transition: all 0.2s;
    }
    #menu-close {
        filter: brightness(0) invert(1);
        margin-top: 0.4em;
        transition: all 0.2s;
        position: fixed;
        top:1em ;
        right: 3.5em;
        z-index: 200;
    }
    nav {
        display: none;
        z-index: 200;
        grid-template-columns: 1fr;
        gap: 1em;
        background-color: white;
        height: 14rem;
        max-width: 21rem;
        width: auto;
        padding-top: 1em;
        margin: auto ;
        border-radius: 1.2em;
        position: fixed;
        top:5em ;
        left: 0;
        right: 0;
        text-align: left;
        justify-content: center;
    }
    nav a {
        color: var(--Black);
        padding-left: 2em;
        font-weight: 500;
        font-size: 1.2rem;
        border-bottom: 0.1em solid hsl(0, 0%, 48%,0.5);
    }
    nav :last-child {
        border: none;
    }
    main {
        width: auto;
    }
    .buttons {
        margin-bottom: 2em;
    }
    .book, .bookmarked{
        display: none;
    }
    .bookmark-button, .bookmarked-button {
        width: auto;
    }
    .numbers {
        padding: auto;
    }
    .number {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;

    }
    .num {
        border-right: none;
        border-bottom: 0.08em solid hsl(0, 0%, 48%, 0.5);
        padding-bottom: 1em;
        padding-right: 0;
    }
    .num:last-child {
        border: none;
    }
    .about article h3 {
        grid-column: 1/3;
    }
    .about-pledge {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .about article p{
        grid-column: 1/3;
    }
    .move {
        grid-row: 4; 
    }
    .about-select-reward {
        grid-row: 5;
        grid-column: 1/2;
        height: 2em;
        width: 12em;
        margin: auto 0.2em;
    }
    .back-this-project {
        max-width: 25rem;
        margin: auto;
    }
    .back-head {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1em;
    }
    .icon-close {
      margin: auto;
    }
    .back-this-project h2 {
        padding: auto;
    }
    .back-left {
        grid-row: 3;
        grid-column: 1/2;
    }
    .checkbox {
        grid-row: 1;
       grid-column: 1/1;
    }
    .bambo-head {
        grid-row: 1;
        margin-left: 1.4em;
        grid-column: 1/2;
    }
    .back-box-header{
        display: grid;
        grid-template-columns: 1fr;
    }
    .back-pledge {
        margin-left: 1.1em;
    }
    .well {
        grid-row: 4;
    }
    .break {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        place-content: center;
        margin:1em auto;
        gap: 1em;
    }
    .pledge{
        grid-row: 1;
        grid-column: 1/3;
    }
    .back-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 2;
        grid-column: 1/3;
        margin: auto;
        gap: 1em;
    }
    .thank-you {
        max-width: 22em;
    }

}